<div class="panel panel-primary panel-sidebar">
  <!-- Default panel contents -->
  <div class="panel-heading">
    Orbit
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Homepage</li>
    <li class="list-group-item">
          <%= link_to "Contact directory", users_path %>
    </li>
    <li class="list-group-item">Departments</li>
    <li class="list-group-item">Blogs</li>
    <li class="list-group-item">Support</li>
  </ul>
</div>