.alert {
  
  margin-left: -15px;
  margin-right: -15px;
  padding: 0.8em;
  
}

.alert-dismissable .close, .alert-dismissible .close {

    top: -2px;
    right: 0px;
  
}

.error-explanation {
  
  h2 {
    
    background-color: $brand-danger;
    color: white;
    padding: 5px;
    
  }
  
  color: $brand-danger;
  
}